body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	&__close {
		position: absolute;
		top: rem(15);
		right: rem(15);
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #d5d8dd;
	padding: rem(40) rem(35);
	width: 100%;
	max-width: rem(516);
	border-radius: 21px;
	position: relative;

	.lock & {
		visibility: visible;
	}
}

.p_success {
	display: flex;
	flex-direction: column;
	align-items: center;

	// .p_success__icon
	&__icon {
		margin-top: rem(50);
		margin-bottom: rem(20);
	}
	// .p_success__title
	&__title {
		margin-bottom: rem(10);
		font-weight: 700;
		@include adaptiveValue("font-size", 27, 21);
	}
	// .p_success__subtitle
	&__subtitle {
		font-weight: 700;
	}
}
.p_order {
	text-align: center;

	// .p_order__title
	&__title {
		margin-bottom: rem(10);
		font-weight: 700;
		@include adaptiveValue("font-size", 27, 21);
	}
	// .p_order__image
	&__image {
		margin-bottom: rem(6);
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			max-height: rem(252);
		}
	}
	// .p_order__price
	&__price {
		margin-bottom: rem(16);
		font-weight: 700;
		@include adaptiveValue("font-size", 27, 21);
	}
	// .p_order__subtitle
	&__subtitle {
		margin-bottom: rem(10);
		@include adaptiveValue("font-size", 27, 21);
	}
	// .p_order__form
	&__form {
		.input {
			margin-bottom: rem(15);
			padding: rem(14) rem(16);
			border: 1px solid $mainColor;
			background-color: #fff;

			&::placeholder {
				color: #acb1b8;
			}

			&:last-child {
				margin-bottom: rem(30);
			}
		}
		.button {
			margin-bottom: rem(15);
		}
		.privacy {
		}

		textarea.input {
			height: rem(106);
		}
	}
}
