.about {
    display: flex;
    align-items: center;
    gap: rem(70);

    margin-bottom: rem(76);

    // .about__image
    &__image {
    }
    // .about__content
    &__content {
    }
    // .about__title
    &__title {
    }
    // .about__text
    &__text {
        margin-bottom: rem(37);
        font-weight: 600;
        line-height: math.div(23, 14);
    }
    // .about__link
    &__link {
        color: $red;

        &:hover{text-decoration: underline;}
    }
}
