.about {
    display: flex;
    align-items: center;
    gap: rem(70);

    @include adaptiveValue("margin-bottom", 76, 35);
    
    @media (max-width:$tablet){
        padding: 0 rem(15);
    }

    // .about__image
    &__image {
        display: none;
        @media (min-width:$tablet){
             display: block; 
             flex: 0 0 50%;
     
             img {
                 width: 100%;
             }
        }
    }
    // .about__content
    &__content {
    }
    // .about__title
    &__title {
    }
    // .about__text
    &__text {
        margin-bottom: rem(37);
        font-weight: 600;
        line-height: math.div(23, 14);
    }
    // .about__link
    &__link {
        color: $red;

        &:hover{text-decoration: underline;}
    }
}
