.news {
    margin-bottom: rem(75);
    // .news__container
    &__container {
    }
    // .news__title
    &__title {
        text-align: center;
        
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(40);
        }
    }
    // .news__list
    &__list {
        @include gridCards(fill, rem(250), 1fr, rem(30));
    }
}
