//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

button {
	font-size: initial;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(17) rem(37);
	border: 1px solid $red;
	border-radius: 2px;
	background-color: $red;
	color: #fff;
	text-transform: uppercase;

	@media (max-width: $mobileSmall) {
		padding: rem(10) rem(24);
		@include adaptiveValue("font-size", 16, 12);
	}

	transition: background 0.2s ease-in-out, border-color 0.2s ease, color 0.2s ease-in-out;

	&_transparent {
		background-color: transparent;
		border-color: #fff;
		color: #fff;

		&:hover {
			border-color: $red;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: darken($red, 10%);
			border-color: darken($red, 10%);
		}
	}

	&:active {
		background-color: darken($red, 20%);
	}
	&._fw {
		width: 100%;
	}
}
