//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

button {
	font-size: initial;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(17) rem(37);
	border-radius: 2px;
	background-color: $red;
	color: #fff;
	text-transform: uppercase;

	transition: background 0.2s ease-in-out;

	@media (any-hover: hover) {
		&:hover {
			background-color: darken($red, 10%);
		}
	}

	&:active {
		background-color: darken($red, 20%);
	}
	&._fw {
		width: 100%;
	}
}
