.callback {
    padding: rem(30) 0;
    background: url("@img/needhelp-bg.jpg") 0 0 no-repeat;
    background-size: cover !important;

    &._text-white {
        color: #fff;
    }

    // .callback__container
    &__container {
    }
    // .callback__title
    &__title {
        text-align: center;
    }
    // .callback__form
    &__form {
        &.form {
            // .form__row
            &__row {
            }
            // .form__privacy
            &__privacy {
            }
        }
        .input {
            ._text-white & {
                border-color: #fff;
                color: #fff;
            }
        }
        .button {
            margin-bottom: rem(30);
            font-weight: 600;
        }
    }
}
