.catalog {
    padding-top: rem(40);
    padding-bottom: rem(75);
    background-color: $greybg;
    // .catalog__container
    &__container {
    }
    // .catalog__wrapper
    &__wrapper {
        display: grid;
        gap: rem(30);

        @media (min-width: $mobile) {
            grid-template-columns: rem(308) 1fr;
        }
    }
    // .catalog__side
    &__side {
        background-color: #fff;
        height: fit-content;
    }
    // .catalog__inner
    &__inner {
    }
    // .catalog__title
    &__title {
        margin-top: rem(10);
        margin-bottom: rem(47);
    }
    // .catalog__list
    &__list {
        @include gridCards("fit", rem(250), 1fr, rem(30));
        margin-bottom: rem(25);
    }
    // .catalog__item
    &__item {
        transition: box-shadow 0.2s ease-in-out;
        &:hover {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.72);
        }
    }
    // .catalog__text
    &__text {
        font-family: $fontMs;
        color: #9b9b9b;

        a {
            color: $red;
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        p {
            &:not(:last-child) {
                margin-bottom: rem(16);
            }
        }
    }
}
.side-catalog {
    // .side-catalog__title
    &__title {
        padding: rem(12);
        background-color: #000;
        font-weight: 700;
        color: #fff;
        text-align: center;
    }
    // .side-catalog__menu
    &__menu {
    }
}
.menu-side {
    // .menu-side__nav
    &__nav {
    }
    // .menu-side__list
    &__list {
    }
    // .menu-side__item
    &__item {
        &._active-link {
            .submenu {
                display: block;
                padding: rem(18) rem(34);
                background-color: #edf1f6;

                .menu-side__item {
                    &:not(:last-child) {
                        margin-bottom: rem(11);
                    }
                }
                .menu-side__link {
                    padding: 0;

                    &:not(:last-child) {
                        margin-bottom: rem(11);
                    }

                    &::before {
                        content: none;
                    }
                }
            }
        }
        .submenu {
            display: none;
        }
    }
    // .menu-side__link
    &__link {
        display: flex;
        align-items: center;
        gap: rem(10);
        padding: rem(12) rem(13);

        transition: color 0.2s ease-in-out;

        &:hover {
            color: $red;
        }
        &::before {
            content: "";
            display: block;
            width: rem(15);
            height: rem(15);
            background: url("@img/mark.svg") center center no-repeat;
        }

        ._active-link > & {
            color: $red;
            &::before {
                transform: rotate(90deg);
            }
        }
    }
}
.item-catalog {
    // .item-catalog__image
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(30);
        background-color: #fff;

        height: rem(253);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .item-catalog__title
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 rem(72);
        height: rem(93);
        background-color: #2d2c2c;

        font-family: $fontMs;
        font-weight: 500;
        font-size: rem(18);
        text-align: center;
        color: #fff;
    }
}
