//====================================================================================================
.footer {
    padding: rem(50) 0;
    background-color: $mainColor;
    box-shadow: inset 0px 4px 40px #000000;

    @media print {
        display: none;
    }

    // .footer__container
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: rem(20);

        @media (min-width: $mobile) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    // .footer__logo
    &__logo {
        max-width: 50%;

        img {
            width: 100%;
        }

        @media (min-width: $tablet) {
            flex: 0 0 rem(254);
        }
    }
    // .footer__contacts
    &__contacts {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: rem(20);

        flex: 1 1 auto;

        max-width: rem(300);

        @media (min-width: $tablet) {
            flex-direction: row;
            max-width: rem(745);
        }
    }
}
.contacts-footer {
    // .contacts-footer__item
    &__item {
        color: #fff;
    }
    // .contacts-footer__title
    &__title {
        font-weight: 700;
        line-height: math.div(23, 18);
    }
    // .contacts-footer__value
    &__value {
        font-weight: 600;
        line-height: math.div(18, 14);
        text-decoration: underline !important;
    }

    a.contacts-footer__value {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $red;
        }
    }
}

//====================================================================================================
