//====================================================================================================

.header {
	// .header__top
	&__top {
		padding: rem(17) 0;
	}
	// .header__bottom
	&__bottom {
		background-color: $mainColor;
		color: #fff;

		@media (max-width: $mobile) {
			padding: rem(20) 0;
		}

		@media print {
			display: none;
		}
	}
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
	}
	// .header__logo
	&__logo {
		max-width: 50%;

		img {
			width: 100%;
		}
	}
	// .header__contacts
	&__contacts {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("gap", 86, 10);
	}
	// .header__search
	&__search {
		display: flex;
		align-items: center;
		gap: rem(10);
		flex: 0 0 rem(195);
		padding: rem(8) rem(10);
		border: 1px solid $mainColor;
	}
	// .header__menu
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(30);
		width: 100%;
	}
}
.contacts-header {
	// .contacts-header__item
	&__item {
		display: flex;
		align-items: center;
		gap: rem(14);
		font-weight: 700;
		text-transform: uppercase;
		transition: color 0.2s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}

		@media (max-width: $tablet) {
			font-size: rem(14);
		}

		@media (max-width: $mobile) {
			&:first-of-type {
				margin-left: auto;
			}
		}

		@media (max-width:$mobileSmall){
			 font-size: rem(12); 
			 gap: rem(5);
		}
	}
}
.search-header {
	// .search-header__input
	&__input {
		line-height: 1;
	}
	// .search-header__button
	&__button {
		flex: 0 0 rem(25);
		width: rem(25);
		height: rem(25);
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		gap: rem(37);
	}
	// .menu__item
	&__item {
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: -100%;
			width: 100%;
			height: rem(2);
			background-color: $red;
			transition: left 0.2s ease-in-out;
		}

		&:hover {
			&::after {
				left: 0;
			}

			.menu__link {
				color: $red;
			}
		}
	}
	// .menu__link
	&__link {
		display: block;
		padding: rem(23) 0;
		transition: color 0.2s ease-in-out;
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		z-index: 101;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

//========================================================================================================================================================
.burger {
	position: absolute;
	top: rem(126);
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #000;
	transform: translate(-100%, 0px) scale(0);
	color: #fff;

	transition: transform 0.2s ease-in-out;

	.menu-open & {
		transform: translate(0px, 0px) scale(1);
	}
	// .burger__menu
	&__menu {
		.menu {
			&__list {
				padding: rem(30);
				flex-direction: column;
				margin-top: rem(30);
			}

			&__link {
				padding: 0;
			}
		}
	}

	.search-header {
		color: #fff;
		border-color: #fff;

		&__input {
			width: 90%;
			padding: rem(5);
			background-color: transparent;
			border: 1px solid #fff;
			color: #fff;
			border-radius: 4px;
		}

		svg {
			path {
				fill: #fff;
			}
		}
	}
}
